[submodule "Chapter1"]
	path = Chapter1
	url = git@github.com:AdaptiveCode/Chapter1.git
[submodule "Chapter3"]
	path = Chapter3
	url = git@github.com:AdaptiveCode/Chapter3.git
[submodule "Chapter4"]
	path = Chapter4
	url = git@github.com:AdaptiveCode/Chapter4.git
[submodule "Chapter5And6"]
	path = Chapter5And6
	url = git@github.com:AdaptiveCode/Chapter5And6.git
[submodule "Chapter7"]
	path = Chapter7
	url = git@github.com:AdaptiveCode/Chapter7.git
